#root {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.map {
  margin: 0 auto;
  max-width: 100%;
  .line-x {
      display: inline;
  }
  .line-y {
      width: 100%;
      max-width: 100%;
      overflow: hidden;
  }
  .box {
      transition: transform .2s ease-in-out;
      display: inline-block;
      width: 36px;
      height: 36px;
      vertical-align: middle;
      padding: 4px;
      background-color: navajowhite;
      &.with-road {
          background-color: grey;
          &.with-car {
              background-image: url(/img/car48x48.png);
              background-position: center;
              background-repeat: no-repeat;
              background-size: 32px 32px;
              &.to-top {
                transform: rotate(270deg);
              }
              &.to-bottom {
                transform: rotate(90deg);
              }
          }
      }
  }
}