$boxSize: 48px;
$boxPadding: 4px;
$tileSize: 100%; // 8px = 2 * $boxPadding

@mixin layer() {
  width: $boxSize;
  height: $boxSize;
  // margin-top: -$boxPadding;
}

#root {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.map {
  margin: 0 auto;
  max-width: 100%;
  .line-x {
      display: inline;
  }
  .line-y {
      width: 100%;
      max-width: 100%;
      overflow: hidden;
  }
  .box {
    .info {
      position: absolute;
      z-index: 0;
      font-size: 10px;
      @include layer();
    }
    .layer {
      position: absolute;
      @include layer();
      &.z-index-bottom {
        z-index: 1;
      }
      &.z-index-middle {
        div {
          left: 0;
          transition:left 1s linear;
        }
        z-index: 2;
      }
      &.z-index-top {
        z-index: 3;
      }
      .tile {
        width: $tileSize;
        height: $tileSize;
        background: transparent;
        transition: .8s;
      }
      .with-road {
        background-color: grey;
      }
      .with-car {
        transition: .8s;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 48px 48px;
        &.to-top {
          &.move {
            transition: .8s;
            transform: translate3d(0, -48px, 0);
          }
          background-image: url(/img/t_car48x48.png);
        }
        &.to-bottom {
          &.move {
            transform: translate3d(0, 48px, 0);
          }
          background-image: url(/img/b_car48x48.png);
          //transform: rotate(90deg);
        }
        &.to-left {
          &.move {
            transform: translate3d(-48px, 0, 0);
          }
          background-image: url(/img/l_car48x48.png);
          //transform: rotate(90deg);
        }
        &.to-right {
          &.move {
            transform: translate3d(48px, 0, 0);
          }
          background-image: url(/img/r_car48x48.png);
          //transform: rotate(90deg);
        }
      }
    }
      display: inline-block;
      width: $boxSize;
      height: $boxSize;
      vertical-align: middle;
      background-color: navajowhite;
  }
}